<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Weather App Dashboard</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
    </head>
    <body>
        <div class="weatherHeader">
            <h2>Weather App Dashboard</h2>
        </div>
        <form id="weatherForm" action="{{ url_for('weather_results')}}" method="post">
            <label for="weatherInput">Location City Name: </label>
            <input type="text" id="weatherInput" name="cityName">
            <br>
            <input type="submit" id="weatherSubmit" value="Search">
        </form>
    </body>
</html>
